div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}

div#obj12684 {
position: absolute;
overflow: hidden;
top: 850px;
left: -270px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 28;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj12701 {
position: absolute;
overflow: hidden;
top: 329px;
left: -209px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 31;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj12698 {
position: absolute;
overflow: hidden;
top: 427px;
left: -209px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 32;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj12695 {
position: absolute;
overflow: hidden;
top: 511px;
left: -209px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 33;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj12692 {
position: absolute;
overflow: hidden;
top: 609px;
left: -209px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 34;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj12708 {
position: absolute;
overflow: hidden;
top: 174px;
left: -234px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 35;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
div#obj12363 {
position: absolute;
overflow: hidden;
top: 114px;
left: 1353px;
width: 66px;
height: 67px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj12363_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 66px;
	height: 67px;
}
div#obj12369 {
position: absolute;
overflow: hidden;
top: 1px;
left: 0px;
width: 122px;
height: 84px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj12369_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 122px;
	height: 84px;
}
div#obj12371 {
position: absolute;
overflow: hidden;
top: 134px;
left: 60px;
width: 21px;
height: 25px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj12371_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 21px;
	height: 25px;
}
div#obj12373 {
position: absolute;
overflow: hidden;
top: 18px;
left: 1347px;
width: 77px;
height: 77px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
filter: drop-shadow(7px 7px 5px rgba(0,0,0,0.6078431));
will-change: filter;
-webkit-filter: drop-shadow(7px 7px 5px rgba(0,0,0,0.6078431));
}
img#obj12373_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 77px;
	height: 77px;
}
div#obj12624 {
position: absolute;
overflow: hidden;
top: 311px;
left: 108px;
width: 270px;
height: 165px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj12624_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 270px;
	height: 165px;
}
div#obj12635 {
position: absolute;
overflow: hidden;
top: 311px;
left: 437px;
width: 270px;
height: 165px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj12635_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 270px;
	height: 165px;
}
div#obj12644 {
position: absolute;
overflow: hidden;
top: 530px;
left: 107px;
width: 270px;
height: 165px;
opacity: 1;
z-index: 13;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj12644_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 270px;
	height: 165px;
}
div#obj12640 {
position: absolute;
overflow: hidden;
top: 530px;
left: 436px;
width: 270px;
height: 165px;
opacity: 1;
z-index: 15;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}
img#obj12640_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 270px;
	height: 165px;
}

div#obj12359 {
position: absolute;
overflow: hidden;
top: 18px;
left: 1px;
width: 1441px;
height: 54px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "centurygothic_bold";
font-size: 47px;
color: #F47920;
text-align: center;
}

div#obj12359_content {
line-height: 1;
}
div#obj12361 {
position: absolute;
overflow: hidden;
top: 126px;
left: 95px;
width: 1217px;
height: 50px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Roboto";
font-size: 34px;
}

div#obj12361_content {

}
div#obj12650 {
position: absolute;
overflow: hidden;
top: 217px;
left: 764px;
width: 640px;
height: 82px;
opacity: 1;
z-index: 17;
display:block;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Roboto";
font-size: 33px;
}

div#obj12650_content {

}
div#obj12654 {
position: absolute;
overflow: hidden;
top: 393px;
left: 764px;
width: 640px;
height: 82px;
opacity: 1;
z-index: 19;
display:block;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Roboto";
font-size: 33px;
}

div#obj12654_content {

}
div#obj12666 {
position: absolute;
overflow: hidden;
top: 568px;
left: 764px;
width: 640px;
height: 82px;
opacity: 1;
z-index: 21;
display:block;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Roboto";
font-size: 33px;
}

div#obj12666_content {

}
div#obj12660 {
position: absolute;
overflow: hidden;
top: 744px;
left: 764px;
width: 640px;
height: 82px;
opacity: 1;
z-index: 23;
display:block;
pointer-events: none;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Roboto";
font-size: 33px;
}

div#obj12660_content {

}
div#obj12704 {
position: absolute;
overflow: hidden;
top: 899px;
left: 552px;
width: 351px;
height: 47px;
opacity: 1;
z-index: 30;
display:block;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "Roboto";
font-size: 36px;
color: #849DAA;
text-align: center;
}

div#obj12704_content {

}
div#obj12590 {
position: absolute;
overflow: hidden;
top: 198px;
left: 730px;
width: 632px;
height: 114px;
opacity: 1;
z-index: 58;
display:none;
pointer-events: auto;

user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

font-family: "centurygothic_bold";
font-size: 34px;
text-align: left;
}

div#obj12590_content {

}



div#obj12354 {
position: absolute;
overflow: hidden;
top: 890px;
left: 1px;
width: 1440px;
height: 71px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #8AC440;
background-repeat: repeat;
}
div#obj12592 {
position: absolute;
overflow: hidden;
top: 113px;
left: 1353px;
width: 66px;
height: 67px;
opacity: 1;
z-index: 7;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj12622 {
position: absolute;
overflow: hidden;
top: 330px;
left: 98px;
width: 290px;
height: 157px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(194,194,194,0.627451);
background-repeat: repeat;
}
div#obj12637 {
position: absolute;
overflow: hidden;
top: 330px;
left: 427px;
width: 290px;
height: 157px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(194,194,194,0.627451);
background-repeat: repeat;
}
div#obj12646 {
position: absolute;
overflow: hidden;
top: 549px;
left: 97px;
width: 290px;
height: 157px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(194,194,194,0.627451);
background-repeat: repeat;
}
div#obj12642 {
position: absolute;
overflow: hidden;
top: 549px;
left: 426px;
width: 290px;
height: 157px;
opacity: 1;
z-index: 14;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(194,194,194,0.627451);
background-repeat: repeat;
}
div#obj12648 {
position: absolute;
overflow: hidden;
top: 192px;
left: 744px;
width: 670px;
height: 134px;
opacity: 1;
z-index: 16;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #DDDDDD;
background-repeat: repeat;
}
div#obj12656 {
position: absolute;
overflow: hidden;
top: 368px;
left: 744px;
width: 670px;
height: 134px;
opacity: 1;
z-index: 18;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #DDDDDD;
background-repeat: repeat;
}
div#obj12668 {
position: absolute;
overflow: hidden;
top: 543px;
left: 744px;
width: 670px;
height: 134px;
opacity: 1;
z-index: 20;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #DDDDDD;
background-repeat: repeat;
}
div#obj12662 {
position: absolute;
overflow: hidden;
top: 719px;
left: 744px;
width: 670px;
height: 134px;
opacity: 1;
z-index: 22;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #DDDDDD;
background-repeat: repeat;
}
div#obj12672 {
position: absolute;
overflow: hidden;
top: 192px;
left: 740px;
width: 674px;
height: 142px;
opacity: 1;
z-index: 24;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj12729 {
position: absolute;
overflow: hidden;
top: 368px;
left: 739px;
width: 674px;
height: 142px;
opacity: 1;
z-index: 25;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj12742 {
position: absolute;
overflow: hidden;
top: 549px;
left: 739px;
width: 674px;
height: 134px;
opacity: 1;
z-index: 26;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj12747 {
position: absolute;
overflow: hidden;
top: 714px;
left: 734px;
width: 674px;
height: 142px;
opacity: 1;
z-index: 27;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj12706 {
position: absolute;
overflow: hidden;
top: 899px;
left: 559px;
width: 344px;
height: 46px;
opacity: 1;
z-index: 29;
display:block;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 15px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
background-color: #FFFFFF;
background-repeat: repeat;
}
div#obj12715 {
position: absolute;
overflow: hidden;
top: 520px;
left: 88px;
width: 311px;
height: 190px;
opacity: 1;
z-index: 36;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj12725 {
position: absolute;
overflow: hidden;
top: 193px;
left: 736px;
width: 670px;
height: 139px;
opacity: 1;
z-index: 37;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj12779 {
position: absolute;
overflow: hidden;
top: 714px;
left: 742px;
width: 674px;
height: 142px;
opacity: 1;
z-index: 38;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj12774 {
position: absolute;
overflow: hidden;
top: 368px;
left: 739px;
width: 674px;
height: 142px;
opacity: 1;
z-index: 39;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj12769 {
position: absolute;
overflow: hidden;
top: 549px;
left: 739px;
width: 674px;
height: 134px;
opacity: 1;
z-index: 40;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj12764 {
position: absolute;
overflow: hidden;
top: 191px;
left: 738px;
width: 674px;
height: 142px;
opacity: 1;
z-index: 41;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj12754 {
position: absolute;
overflow: hidden;
top: 298px;
left: 420px;
width: 311px;
height: 190px;
opacity: 1;
z-index: 42;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj12752 {
position: absolute;
overflow: hidden;
top: 716px;
left: 744px;
width: 670px;
height: 139px;
opacity: 1;
z-index: 43;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj12896 {
position: absolute;
overflow: hidden;
top: 541px;
left: 746px;
width: 674px;
height: 142px;
opacity: 1;
z-index: 44;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj12891 {
position: absolute;
overflow: hidden;
top: 368px;
left: 739px;
width: 674px;
height: 142px;
opacity: 1;
z-index: 45;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj12886 {
position: absolute;
overflow: hidden;
top: 190px;
left: 742px;
width: 674px;
height: 134px;
opacity: 1;
z-index: 46;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj12881 {
position: absolute;
overflow: hidden;
top: 714px;
left: 734px;
width: 674px;
height: 142px;
opacity: 1;
z-index: 47;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj12871 {
position: absolute;
overflow: hidden;
top: 297px;
left: 87px;
width: 311px;
height: 190px;
opacity: 1;
z-index: 48;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj12869 {
position: absolute;
overflow: hidden;
top: 545px;
left: 741px;
width: 670px;
height: 139px;
opacity: 1;
z-index: 49;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj12680 {
position: absolute;
overflow: hidden;
top: 276px;
left: 60px;
width: 667px;
height: 461px;
opacity: 1;
z-index: 50;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj12935 {
position: absolute;
overflow: hidden;
top: 367px;
left: 740px;
width: 674px;
height: 142px;
opacity: 1;
z-index: 51;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj12930 {
position: absolute;
overflow: hidden;
top: 538px;
left: 746px;
width: 674px;
height: 142px;
opacity: 1;
z-index: 52;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj12925 {
position: absolute;
overflow: hidden;
top: 190px;
left: 742px;
width: 674px;
height: 134px;
opacity: 1;
z-index: 53;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj12920 {
position: absolute;
overflow: hidden;
top: 714px;
left: 734px;
width: 674px;
height: 142px;
opacity: 1;
z-index: 54;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj12910 {
position: absolute;
overflow: hidden;
top: 520px;
left: 416px;
width: 311px;
height: 190px;
opacity: 1;
z-index: 55;
display:block;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj12908 {
position: absolute;
overflow: hidden;
top: 369px;
left: 744px;
width: 670px;
height: 139px;
opacity: 1;
z-index: 56;
display:none;
pointer-events: auto;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

background-image: none;
border-color: #000000;
border-width: 0px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(255,255,255,0);
background-repeat: repeat;
}
div#obj12588 {
position: absolute;
overflow: hidden;
top: 184px;
left: 710px;
width: 678px;
height: 142px;
opacity: 1;
z-index: 57;
display:none;
pointer-events: none;


user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
filter: drop-shadow(4px 4px 2px rgba(0,0,0,0.6078431));
will-change: filter;
-webkit-filter: drop-shadow(4px 4px 2px rgba(0,0,0,0.6078431));
background-image: none;
border-color: #F47920;
border-width: 5px;
border-style: solid;
border-radius: 15px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
background-color: #FFFFFF;
background-repeat: repeat;
}












body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }

.SCPage {
background-color: #FFFFFF
}
